# ./poll.ingress.yaml
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  namespace: default
  name: kube-ingress-poll
  labels:
    services: "poll"
spec:
  rules:
  - host: "poll.dop.io"
    http:
      paths:
       - path: /
         backend:
          service:
            name: kube-service-poll
            port:
              number: 80