# ./result.deployment.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: default
  name: kube-deploy-result
  labels:
    services: "result"
spec:
  replicas: 2
  selector:
    matchLabels:
      services: "result"
  template:
    metadata:
      labels:
        services: "result"
    spec:
      restartPolicy: Always
      containers:
      - name: "t-dop-600-result-1"
        image: "epitechcontent/t-dop-600-result:k8s"
        resources:
          limits:
            memory: 128M
      ports:
        - containerPort: 80
      env:
      - name: "POSTGRES_HOST"
        valueFrom:
          configMapKeyRef:
            key: "POSTGRES_HOST"
            name: "kube-config-postgres"
      - name: "POSTGRES_PORT"
        valueFrom:
          configMapKeyRef:
            key: "POSTGRES_PORT"
            name: "kube-config-postgres"
      - name: "POSTGRES_DB"
        valueFrom:
          configMapKeyRef:
            key: "POSTGRES_DB"
            name: "kube-config-postgres"
      - name: "POSTGRES_USER"
        valueFrom:
          secretKeyRef:
            key: "POSTGRES_USER"
            name: "kube-secret-postgres"
      - name: "POSTGRES_PASSWORD"
        valueFrom:
          secretKeyRef:
            key: "POSTGRES_PASSWORD"
            name: "kube-secret-postgres"