# https://docs.github.com/en/actions/deployment/deploying-to-your-cloud-provider/deploying-to-google-kubernetes-engine

name: Build and Deploy to GKE

on:
  push:
    branches:
      - main
  workflow_dispatch:

env:
  PROJECT_ID: ${{ secrets.PROJECT_ID }}
  GKE_CLUSTER: cluster-1
  GKE_ZONE: europe-southwest1-a
  DEPLOYMENT_NAME: bernstein-deploy
  IMAGE: static-site
  CI: true

jobs:
  kubeconform:
    runs-on: ubuntu-latest
    steps:
      # - name: login to Github Packages
      #   run: echo "${{ github.token }}" | docker login https://ghcr.io -u ${GITHUB_ACTOR} --password-stdin
      # - uses: actions/checkout@v2
      # - uses: docker://ghcr.io/yannh/kubeconform:master
      #   with:
      #     entrypoint: '/kubeconform'
      #     args: "-schema-location default -ignore-filename-pattern .github/workflows/ -summary --verbose -output json ."
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
      - name: Download kubeconform
        run: go install github.com/yannh/kubeconform/cmd/kubeconform@latest
      - name: Run kubeconform
        continue-on-error: true
        run: |
          export PATH=${PATH}:$(go env GOPATH)/bin
          kubeconform -schema-location default \
            -ignore-filename-pattern .github/workflows/ \
            -ignore-filename-pattern cluster-architecture.yml \
            -ignore-filename-pattern kubeconform_result.json\
            -summary --verbose -output json . > kubeconform_result.json
      - run: |
          echo "| filename | kind | name | version | status | msg |" >> $GITHUB_STEP_SUMMARY
          echo "|----------|----------|----------|----------|----------|----------|" >> $GITHUB_STEP_SUMMARY
          jq '.resources' ./kubeconform_result.json | jq 'sort_by(.filename)' | jq -r 'to_entries[] | "| \(.value.filename) | \(.value.kind) | \(.value.name) | \(.value.version) | \(.value.status) | \(.value.msg) |"' >> $GITHUB_STEP_SUMMARY
          echo "" >> $GITHUB_STEP_SUMMARY
          echo "| summary | value |" >> $GITHUB_STEP_SUMMARY
          echo "|----------|----------|" >> $GITHUB_STEP_SUMMARY
          jq '.summary' ./kubeconform_result.json | jq 'to_entries[] | "| \(.key) | \(.value) |"' >> $GITHUB_STEP_SUMMARY

  setup-build-publish-deploy:
    name: Setup, Build, Publish, and Deploy
    needs: [ kubeconform ]
    runs-on: ubuntu-latest

    # Checkout repo
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 1

      # Setup gcloud CLI
      - uses: google-github-actions/setup-gcloud@94337306dda8180d967a56932ceb4ddcf01edae7
        with:
          service_account_key: ${{ secrets.GKE_SA_KEY }}
          project_id: ${{ secrets.PROJECT_ID }}

      # Get the GKE credentials so we can deploy to the cluster
      - uses: google-github-actions/get-gke-credentials@fb08709ba27618c31c09e014e1d8364b02e5042e
        with:
          cluster_name: ${{ env.GKE_CLUSTER }}
          location: ${{ env.GKE_ZONE }}
          credentials: ${{ secrets.GKE_SA_KEY }}

      # List container clusters (debug)
      - name: Get infos
        shell: bash
        run: |
          gcloud container clusters list

      - name: Display kubectl config
        run: |
          kubectl config view

      - name: Display project infos
        run: |
          gcloud compute project-info describe --project ${{ secrets.PROJECT_ID }}

      - name: Deploy using script
        run: |
          # gcloud container clusters get-credentials ${{ env.GKE_CLUSTER }} --region ${{ env.GKE_ZONE }}
          # gcloud auth application-default login
          # kubectl config use-context ${{ env.GKE_CLUSTER }}
          bash bernstein-deploy.sh